body {
	background-color:#CCF5CC;
	margin: 0px;
	font-family:Tahoma, Geneva, sans-serif;
}




/* when you move your mouse over anything with class="pointable", your cursor will turn into a pointer */
.pointable 
{
   	cursor:pointer;
}
.pointable_toolbar
{
	cursor:pointer;
}
a
{
	cursor:pointer;
}
img.pointable:hover
{
   opacity:0.4;
}
h1
{
    color:rgb(235, 235, 235);
    font-size: 30pt; 
    font-weight: 400;
    /*color:black;
    font-size: 40pt; */
    padding:8px;
    //background-color:#336600;
    background-color: #111111;
    z-index: 1;
    margin: 0px;
	clear:both;
}
#main_header
{
    box-shadow: 0px 0px 16px 3px rgb(73, 73, 73);
    z-index = 1;
}
table {
	border-collapse:collapse;
    background-color:#EFFEEF;
    width:550px;
    cell-spacing: 0px;
    border: none;
    cell-border: none;
	//font-family:Times;
}
caption {
     
    color:black;
    font-size:25pt;
    font-weight:600;
}  
td, th
{
   color:#1A3300; 
   font-size:14pt;
   padding: 3px;
   border:1px solid #00B800;			//1px solid #000000;
}   
th { 
    font-size:17pt;
	font-weight:500;
	background-color: #80E680;
}
td{ 
   width=50%;
}
tr.alt td
{
	background-color: #CCF5CC;
}
table.center {
		margin-left:auto;
		margin-right:auto;
}

#page_title {
	font-size:100%;
}
#main_body {
    margin-left:200px;
    padding:2em;
}
#challenge_toolbar {
    background-color:#66E066;	//#A1C9A1;
    width:175px;
    float:left;
    /* max-height:200px;
    padding-bottom:60%;
    padding-right:0;
    margin-right:0;
    */
    //color: rgb(60, 60, 60);
    bottom: 0px;
    top: 62px;
    position: absolute;
    height: 100%;
    padding: 16px;
	padding-bottom: 2em;
	//z-index: -1;
}
#challenge_toolbar_table {
	width:auto;
	z-index: 2;
}
#symbol {
	background-color:white;
	color:black;
	padding-right:0px;
	margin-right:0px;
	font-size:18px;
	font-weight:bold;
}
#hsearch {
	padding-left:0px;
	margin-left:0px;
	border-left:0px;
	padding-top:3px;
	
}

.modalDialog {
		position: fixed;
		font-family: Arial, Helvetica, sans-serif;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.8);
		z-index: 99999;
		opacity:0;
		-webkit-transition: opacity 400ms ease-in;
		-moz-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;
		pointer-events: none;
	}
		
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
	
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
	
.close:hover { background: #000000 }






